body{
  overflow-x: hidden;
}

@media (max-width: 990px) {
  .toMakeTextResponsive {
    font-size: xx-large !important;
  }
}

@media (max-width: 575px) {
  .responsiveHamburgerPosition {
    position: relative !important;
    left: 21vw !important;
  }
  .responsiveContactusPosition {
    position: relative !important;
    left: 21vw !important;
  }
}

.u-tabs .u-tab-link {
  display: block;
  padding: 10px 30px;
  color: inherit;
  border-color: transparent;
}

.text-white{
  text-decoration: none; 
}

.preloaderlayer{
  height: 150vh;
  width: 100vw;
  background-color: white;
  z-index: 140;
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;
  top: 0%;
}
.preloader{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 150;
  display: flex;
  justify-content: center;
  align-items: center;
  /* -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; */
}

/* if i use position sticky it stops working  */
.fixedposition{ 
  /* overflow: hidden; */
  position: fixed;
  top: 0%;
  background-color: rgb(241, 246, 246, 0.8);
  ;
  width: 100%;
  z-index: 100;
}

.positioninbetween {
  position: relative;
  top: -12px;
}

.preloader-image{
  animation: logoloader 5s infinite ease-in-out;
  height: 500px;
  width: 500px;
}



@-webkit-keyframes spin {
  0% { -webkit-transform: rotatey(0deg); }
  100% { -webkit-transform: rotatey(360deg); }
}

@keyframes spin {
  0% { transform: rotatey(0deg); }
  100% { transform: rotatey(360deg); }
} 

@keyframes logoloader {
  0%{
    transform: scale(0.5);
  }
  50%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(0.0);
  }
}
.text-left-mobileview{
  text-align: left !important;
}
.text-left-mobileview-padding{
  padding-left: 20px;
}
.bg-primary{
  background-image: linear-gradient(#0d6efd, #4A8BC2);
}