@media (max-width: 990px) {
  .toMakeTextResponsive {
    font-size: xx-large !important;
  }
}

@media (max-width: 575px) {
  .responsiveHamburgerPosition {
    position: relative !important;
    left: 21vw !important;
  }
  .responsiveContactusPosition {
    position: relative !important;
    left: 21vw !important;
  }
}

.u-tabs .u-tab-link {
  display: block;
  padding: 10px 30px;
  color: inherit;
  border-color: transparent;
}